/* Hilangkan margin bawaan dan cegah layar bisa di-scroll */
body {
    margin: 0;
    padding: 0;
    overflow: hidden; 
    font-family: 'Fredoka', sans-serif;
    user-select: none;
}

/* Pengaturan Layar Utama */
.scene {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    /* REVISI: Ubah fokus gambar ke tengah-atas biar judul nggak kepotong */
    background-position: center top; 
    position: relative; 
}

/* --- Desain Awan Gumpalan --- */
.awan {
    position: absolute;
    background: rgba(255, 255, 255, 0.7); /* Sedikit lebih transparan */
    border-radius: 100px;
    z-index: 1;
}

.awan::before, .awan::after {
    content: '';
    position: absolute;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
}

/* REVISI POSISI AWAN: Dipindah ke atas semua biar nggak kena muka */
/* Awan 1 (Kecil) - Terbang di area sayap kiri */
.awan-1 {
    width: 120px; height: 40px;
    top: 25%; left: -200px;
    animation: gerakAwan 30s linear infinite;
}
.awan-1::before { width: 50px; height: 50px; top: -20px; left: 15px; }
.awan-1::after { width: 70px; height: 70px; top: -30px; right: 15px; }

/* Awan 2 (Sedang) - Terbang di dekat judul atas */
.awan-2 {
    width: 150px; height: 50px;
    top: 8%; left: -250px;
    animation: gerakAwan 40s linear infinite 5s; 
}
.awan-2::before { width: 60px; height: 60px; top: -25px; left: 20px; }
.awan-2::after { width: 80px; height: 80px; top: -40px; right: 20px; }

/* Awan 3 (Besar) - Terbang di bawah perut pesawat */
.awan-3 {
    width: 180px; height: 60px;
    top: 35%; left: -350px;
    animation: gerakAwan 45s linear infinite 15s;
}
.awan-3::before { width: 70px; height: 70px; top: -30px; left: 25px; }
.awan-3::after { width: 100px; height: 100px; top: -50px; right: 25px; }

@keyframes gerakAwan {
    from { margin-left: 0; }
    to { margin-left: 120vw; }
}


/* --- Desain Tombol Game --- */
.btn-mulai {
    position: absolute;
    bottom: 8%; /* Posisi diturunkan sedikit biar pas di gumpalan awan asli */
    left: 0; right: 0; 
    margin-left: auto; margin-right: auto;
    width: max-content;
    
    background: linear-gradient(to bottom, #FFD700, #FF8C00);
    color: white;
    font-family: 'Fredoka', sans-serif;
    font-size: 35px;
    letter-spacing: 2px;
    padding: 15px 60px;
    border: 5px solid white;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 10px 0 #D2691E, 0 15px 25px rgba(0,0,0,0.4);
    text-shadow: 2px 2px 0px rgba(0,0,0,0.3);
    z-index: 10;
    
    animation: tombolNapas 1.5s infinite alternate;
}

.btn-mulai:active {
    bottom: calc(8% - 10px);
    box-shadow: 0 0 0 #D2691E, 0 5px 10px rgba(0,0,0,0.4);
    animation: none;
}

@keyframes tombolNapas {
    from { transform: scale(1); }
    to { transform: scale(1.05); }
}